.headerabout_hr {
  width: 50px;
  height: 4px;
  background-color: #f67e7e;
  border: none;
  display: block;
}
.head_about {
  padding-bottom: 140px;
}
.hero_titles_con {
  padding-top: 140px;
}
.hero_About {
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  color: white;
}
.hero_wehelp {
  width: 100%;
  max-width: 720px;
  padding-top: 128px;
}
.hero_wehelp h3 {
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  padding-top: 40px;
}
.Abouthero_titles {
  display: flex;
  justify-content: space-between;
}
header_about {
  background: url("../img/abouttepa.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #014e56;
}
.main_about {
  background: url("../img/about_main_tepa.svg"), url(../img/about_mian_pas.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-color: #012f34;
  padding: 140px 0px;
}
.meet_title h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: white;
}
.team_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 60px;
  padding-top: 82px;
}

.team_card {
  background-color: #002529;
  text-align: center;
  padding: 40px 30px;
  border-radius: 8px;
  color: white;
  position: relative;
}

.team_card h3 {
  font-weight: 700;
  margin: 10px 5px;
  font-size: 18px;
  color: #79c8c7;
}

.team_card p {
  font-size: 16px;
}

.plus_btn {
  background-color: #f67e7e;
  color: #012f34;
  width: 40px;
  height: 40px;
  font-size: 24px;
  border-radius: 50%;
  position: absolute;
  bottom: -20px;
  left: 45%;
  text-align: center;
  cursor: pointer;
}
.plus_btn:hover {
  background-color: #79c8c7;
}

.quote_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 30px; */
  text-align: center;
}

.quote {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 600;
}

.social_icons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social_icons img {
  width: 20px;
  height: 20px;
}
.main_about2 {
  background: url("../img/about2.svg");
  background-color: #002529;
  background-repeat: no-repeat;
  padding: 140px 0px;
}
.main2_title h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: white;
}
.thewerge {
  display: flex;
  flex-wrap: wrap;
  gap: 78px;
  padding-top: 64px;
}
/* Responsive */
@media screen and (max-width: 768px) {
  .headerabout_hr {
    display: none;
  }
  .Abouthero_titles {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .head_about {
    padding-bottom: 112px;
  }

  .hero_titles_con {
    padding-top: 112px;
  }
  .hero_wehelp h3 {
    text-align: center;
    padding-top: 0px;
    font-size: 16px;
  }
  .hero_wehelp {
    width: 100%;
    max-width: 457px;
    padding-top: 24px;
    text-align: center;
  }
  .thewerge {
    justify-content: center;
    padding-top: 48px;
  }
  .main_about {
    padding: 100px 0px;
  }
  .meet_title h1 {
    font-size: 48px;
  }
  .main_about2 {
    padding: 100px 0px;
  }
  .main2_title h1 {
    font-size: 36px;
  }
  .thewerge img {
    width: 103px;
  }
}
@media screen and (max-width: 500px) {
  .meet_title h1 {
    font-size: 32px;
  }
  .main_about {
    padding: 88px 0px;
  }
  .main2_title h1 {
    font-size: 36px;
  }
  .main_about2 {
    padding: 88px 0px;
  }
  .team_container {
    padding: 48px 0px;
  }
  .footer1 {
    padding: 82px 0px;
  }
}
